<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <% include ../common/head %>
    <link rel="stylesheet" href="../css/components/fixedHeader.css">
</head>

<body>
    <section class="header">
        <div class="meNu">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-lg-2 col-xs-1 image-wrapper">
                        <img class="header-logo" src="../img/logo.png" alt="">
                    </div>
                    <div class="col-md-12 col-lg-6 col-xs-12 meNu-Section">
                        <ul class="meNu-wrapper">
                            <li class="meNu-Items"><a href="/homePage" class="meNu-Links">Home</a></li>
                            <li class="meNu-Items"><a href="/product-grid/1" class="meNu-Links">PRODUCT</a></li>
                            <li class="meNu-Items"><a href="/contactUs" class="meNu-Links">CONTACT US</a></li>
                            <li class="meNu-Items"><a href="#" class="meNu-Links">FEED BACK</a></li>
                            <li class="meNu-Items"><a href="/aboutUs" class="meNu-Links">ABOUT US</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-lg-2 search-button-area">
                        <i class="fas fa-search search-button"></i>
                        <form action="/search" method="get">
                            <input type="text" name="q" class="search-area" 
                            value="<%= typeof q === 'undefined' ? '' : q %>" placeholder="Search">
                        </form> 
                    </div>
                    <div class="col-md-12 col-lg-2 cart-area">
                        <div class="meNu-Section--mobile" data-togg"le="modal" data-target="#menuModal">
                            <i class="fas fa-bars"></i>
                        </div>
                        <div class="cart-button" data-toggle="modal" data-target="#cart">
                            <i class="fas fa-shopping-cart">
                                <span class="total-count"></span>
                            </i>
                        </div>
                        <button class="clear-cart btn btn-danger">CLEAR CART</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>



    <div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cart</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="show-cart table">
                    </table>
                    <div class= "checkOut__TotalPrice">Total price: $<span class="total-cart"></span></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">
                        <a class = "abc"href="../checkOut">Order Now</a></button>
                </div>
            </div>
        </div>
    </div>
</body>


<div class="modal fade" id="menuModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog meNu-Modal-dialog" role="document">
        <div class="modal-content meNu-Modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">OUR MENU</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="meNu-wrapper-mobile">
                    <li class="meNu-Items-mobile"><a href="homePage" class="meNu-Links-mobile">Home</a></li>
                    <li class="meNu-Items-mobile"><a href="product-grid" class="meNu-Links-mobile">PRODUCT</a></li>
                    <li class="meNu-Items-mobile"><a href="contactUs" class="meNu-Links-mobile">CONTACT US</a></li>
                    <li class="meNu-Items-mobile"><a href="#" class="meNu-Links-mobile">CATERING</a></li>
                    <li class="meNu-Items-mobile"><a href="#" class="meNu-Links-mobile">FEED BACK</a></li>
                    <li class="meNu-Items-mobile"><a href="aboutUs" class="meNu-Links-mobile">ABOUT US</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>