<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./css/aboutUs.css">
    <link rel="stylesheet" href="./css/components/global.css">
    <link rel="stylesheet" href="./css/checkOut.css">
    <% include common/head %>
</head>

<body>
    <% include components/fixedHeader %>

    <div class="backgroundProduct">
        <h1 class="page-title">About Us</h1>
        <p class="page-path"> Home ›
            <strong>
                About Us
            </strong>
        </p>
    </div>


    <div class="aboutUs">
        <div class="container aboutUs-Container">
            <div class="row featurette">

                <div class="aboutUs-Content--wrapper">
                    <p class="aboutUs-Content">
                            Shrek-Juice.com is a website of the Shrek Juice Centre which is big Juice Centre famous for variety of juices it provides. They also provide catering service for various events like Wedding, Shows and so on. With include of new type of juices and also thought of changing the lookalike of the website the owner wish to renovate the look and feel of the website which should be more catchy and helpful for the business perspective.
                            As our name suggests, at Fresh Fruits Company, our vision is to supply every one of our customers with the freshest, highest quality fruit and vegetables. In a country of expatriates, we aim to source products from every country, so everyone has a taste of home—and the exotic flavours they may have never tried—all with our signature freshness.

                            Add to this our desire to supply you and your customers delicious foods at a price that is as terrific as the taste.

                            We achieve our quality through a rigorous selection of farms and partner suppliers who share our vision of affordable quality, as well as our insistence on operating a short supply chain; a dedicated and ultra-efficient logistics system, and a brand new, state-of-the-art storage facility that underscores our commitment to fast, fresh delivery.

                            At Fresh Fruits, we deliver a whole world of freshness—no matter who, or where you are.
                    </p>
                </div>
                <div class="col-md-7 col-7">
                    <h2 class="featurette-heading">OUR PROFILE</h2>
                    <p class="lead">We achieve our quality through a rigorous selection of farms and partner suppliers who share our vision of affordable quality, as well as our insistence on operating a short supply chain.</p>
                </div>
                <div class="col-md-5  col-5">
                    <img class="featurette-image img-responsive center-block"
                        src="img/ShrekJuiceLogo.png"
                        alt="Generic placeholder image">
                </div>
                <div class="col-md-5  col-5">
                    <img class="featurette-image img-responsive center-block"
                        src="img/800px_COLOURBOX2034974.jpg"
                        alt="Generic placeholder image">
                </div>
                <div class="col-md-7  col-7">
                    <h2 class="featurette-heading">VISION AND MISSION</h2>
                    <p class="lead">At Fresh Fruits, we deliver a whole world of freshness—no matter who, or where you are.</p>
                </div>
                <div class="col-md-7  col-7">
                    <h2 class="featurette-heading">CORE VALUES</h2>
                    <p class="lead">At Fresh Fruits, we believe customer satisfaction begins with the earth: the land from which the grower creates fine brands and fine produce that are key to our way of doing business.</p>
                </div>
                <div class="col-md-5  col-5">
                    <img class="featurette-image img-responsive center-block"
                        src="img/fresh-juice-2.jpg"
                        alt="Generic placeholder image">
                </div>
            </div>
        </div>
    </div>




    <% include components/footer %>
    <% include common/bottom %>
