<!DOCTYPE html>
<html>
<head>
	<title>aaaa</title>
	<% include common/head %>
	<style>
		
	</style>
</head>
<body>
	<% include common/header %>

	<div class="container-fluid">
		<p>about</p>
	</div>

	<% include common/footer %>

</body>
</html>