<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./css/aboutUs.css">
    <% include common/head %>
</head>

<body>
    <% include components/fixedHeader %>

    <div class="backgroundProduct">
        <h1 class="page-title">About Us</h1>
    </div>

    <div class="aboutUs">
        <div class="container aboutUs-Container">
            <div class="aboutUs-Content--wrapper">
                    <p class="aboutUs-Content">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                            industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                            release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                            software like Aldus PageMaker including versions of Lorem Ipsum Lorem Ipsum is simply dummy text of the
                            printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since
                            the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                            essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum
                        </p>
            </div>
          
        </div>
    </div>
    <% include components/footer %>
