<!doctype html>
<html lang="en">

<head>
    <% include common/head %>
    <link rel="stylesheet" href="./css/comment.css">
</head>

<body>
<section class="comment">
        <div class="container-fluid">
                <!-- Wrapper for slides -->
                <div class="row">
                    <div id="text-carousel" class="carousel slide" data-ride="carousel">
                        <div class="col-xs-offset-3 col-xs-6">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="carousel-content">
                                        <div>
                                            <img src="http://klbtheme.com/qualis/wp-content/uploads/2018/12/member1.png"
                                                alt="Smith John">
                                            <p>Perfect Juices and the best of all that you have many options to choose! Very
                                                fast responding and shipping! I highly recommend this shop and these people!</p>
                                            <div class="clients_author"> Smith John
                                                <span>Happy Customer</span>
                                            </div>
                                        </div>
        
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="carousel-content">
                                        <div>
                                            <img src="http://klbtheme.com/qualis/wp-content/uploads/2018/12/member2.png"
                                                alt="Karla Anderson">
                                            <p> Vegetable Juice and others are very good. The support has served me immediately
                                                and solved my problems when I need help. Are to be congratulated.</p>
                                            <div class="clients_author"> Karla Anderson
                                                <span>Happy Customer</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="carousel-content">
                                        <div>
                                            <img src="http://klbtheme.com/qualis/wp-content/uploads/2018/12/member3.png"
                                                alt="Stephen Smith">
                                            <p>Their drinks has been amazing, helping me with several physical health I came
                                                across and got them solved almost the same day. A pleasure to shop with them!
                                            </p>
                                            <div class="clients_author"> Stephen Smith
                                                <span>Happy Customer</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</section>

</body>