<!doctype html>
<html lang="en">

<head>
    <% include common/head %>
    <link rel="stylesheet" href="./css/comment.css">
</head>
<body>

<div class="container-fluid">
<div id="text-carousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carousel-content">
                        <div>
                          <img src="http://klbtheme.com/qualis/wp-content/uploads/2018/12/member1.png" alt="Smith John">
                            <p>Perfect Themes and the best of all that you have many options to choose! Very fast responding! I highly recommend this theme and these people!</p>
                            <div class="clients_author"> Smith John
                                <span>Happy Customer</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="carousel-item">
                  <div class="carousel-content">
                  <div>
                    <img src="http://klbtheme.com/qualis/wp-content/uploads/2018/12/member2.png" alt="Karla Anderson">
                      <p>Code, template and others are very good. The support has served me immediately and solved my problems when I need help. Are to be congratulated.</p>
                      <div class="clients_author"> Karla Anderson
                          <span>Happy Customer</span>
                      </div>
                  </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="carousel-content">
                  <div>
                    <img src="http://klbtheme.com/qualis/wp-content/uploads/2018/12/member3.png" alt="Stephen Smith">
                      <p>Our support and response has been amazing, helping me with several issues I came across and got them solved almost the same day. A pleasure to work with them!</p>
                      <div class="clients_author"> Stephen Smith
                          <span>Happy Customer</span>
                      </div>
                  </div>
                  </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Controls --> <a class="carousel-control-prev" href="#text-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon carousel-icon-one" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#text-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon carousel-icon-one" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</div>
</div>
</body>
