<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./css/contactUs.css">
    <% include common/head %>
</head>

<body>
    <% include components/fixedHeader %>


    <div class="backgroundProduct">
        <h1 class="page-title">Contact Us</h1>
    </div>
    <section class="google__map">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div id="map"></div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="juiceForm">
        <div class="container">
            <div class="row">

                <div class="col-md-9 juiceForm__leftSection">
                    <div class="col-md-12 juiceForm__header">
                        <p class="juiceForm__header--style">Contact Us</p>
                    </div>
                    <form action="#">
                        <div class="col-md-6 juiceForm__col">
                            <label class="juiceForm__label">Your Name (required)</label>
                            <input type="text" class="juiceForm__col--inputtext" name="inputName" onkeyup="changeColorInputName()"
                                required>
                        </div>
                        <div class="col-md-6 juiceForm__col">
                            <label class="juiceForm__label"> Your Email (required)</label>
                            <input type="email" class="juiceForm__col--inputtext" name="inputEmail" oninput="changeColorInputEmail()"
                                required>
                        </div>
                        <div class="col-md-12 juiceForm__col">
                            <label class="juiceForm__label"> Subject</label>
                            <input type="text" class="juiceForm__col--inputtext" name="inputSubject" oninput="changeColorInputSubject()"
                                required>
                        </div>
                        <div class="col-md-12 juiceForm__col">
                            <label class="juiceForm__label"> Your Message</label>
                            <input type="textarea" class="juiceForm__col--inputtextarea">
                        </div>
                        <div class="col-md-12 juiceForm__button--wrapper">
                            <button class="juiceForm__button--style" name="btnSubmit" type="submit"> Submit </button>
                        </div>
                    </form>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12 juiceForm__header">
                        <p class="juiceForm__header--style">Company</p>
                        <ul class="juiceForm__item--wrapper">
                            <li class="juiceForm__items">About Us</li>
                            <li class="juiceForm__items">Sitemap</li>
                            <li class="juiceForm__items">Terms of Service</li>
                            <li class="juiceForm__items">Search Terms</li>
                            <li class="juiceForm__items">Wishlist</li>
                            <li class="juiceForm__items">My Account</li>
                            <li class="juiceForm__items">Checkout</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="contactUs__Slogan">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-xs-12">
                    <div class="col-md-3 col-xs-12 contactUs__Slogan--wrapper">
                        <div class="contactUs__Slogan--icon--wrapper">
                            <i class="fas fa-truck contactUs__Slogan--icon--style"></i>
                        </div>
                        <p class="contactUs__Slogan--content">FREE SHIPPING on order over $99</p>
                    </div>
                    <div class="col-md-3 col-xs-12 contactUs__Slogan--wrapper">
                        <div class="contactUs__Slogan--icon--wrapper">
                            <i class="fas fa-phone contactUs__Slogan--icon--style"></i> </div>
                        <p class="contactUs__Slogan--content">FREE SHIPPING on order over $99</p>
                    </div>
                    <div class="col-md-3 col-xs-12 contactUs__Slogan--wrapper">
                        <div class="contactUs__Slogan--icon--wrapper">
                            <i class="fas fa-dollar-sign contactUs__Slogan--icon--style"></i> </div>
                        <p class="contactUs__Slogan--content">FREE SHIPPING on order over $99</p>
                    </div>
                    <div class="col-md-3 col-xs-12 contactUs__Slogan--wrapper">
                        <div class="contactUs__Slogan--icon--wrapper">
                            <i class="fas fa-briefcase contactUs__Slogan--icon--style"></i>
                        </div>
                        <p class="contactUs__Slogan--content">FREE SHIPPING on order over $99</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <% include components/footer %>
    <% include common/bottom %>
</body>

</html>