<!doctype html>
<html lang="en">

<head>
    <% include common/head %>
    <link rel="stylesheet" href="./css/feedback.css">
</head>

<body>
  <div class="content">
<h1>Feedback</h1>
<div class="main">
      <form>
        <h5>Your Name</h5>
          <input type="text" value="Type here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Type here';}" required="">
        <h5>Email</h5>
          <input type="text" value="Type here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Type here';}" required="">
        <h5>Your Review <span>( Tips and Guidelines ) </span> </h5>
          <textarea onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Type here';}" required="">Type here</textarea>
      </form>
<h5>Overall Experience</h5>
      <div class="feedback">
            <label><input type="radio" name="radio1" checked=""><i></i>Very Good</label>
            <label><input type="radio" name="radio1"><i></i>Good</label>
            <label><input type="radio" name="radio1"><i></i>Fair</label>
            <label><input type="radio" name="radio1"><i></i>Poor</label>
      </div>
<h5>Timely Response</h5>
      <div class="feedback">
            <label><input type="radio" name="radio2" checked=""><i></i>Very Good</label>
            <label><input type="radio" name="radio2"><i></i>Good</label>
            <label><input type="radio" name="radio2"><i></i>Fair</label>
            <label><input type="radio" name="radio2"><i></i>Poor</label>
      </div>
<h5>Our Support</h5>
      <div class="feedback">
            <label><input type="radio" name="radio3" checked=""><i></i>Very Good</label>
            <label><input type="radio" name="radio3"><i></i>Good</label>
            <label><input type="radio" name="radio3"><i></i>Fair</label>
            <label><input type="radio" name="radio3"><i></i>Poor</label>
      </div>
<h5>Overall Satisfaction</h5>
      <div class="feedback">
            <label><input type="radio" name="radio4" checked=""><i></i>Very Good</label>
            <label><input type="radio" name="radio4"><i></i>Good</label>
            <label><input type="radio" name="radio4"><i></i>Fair</label>
            <label><input type="radio" name="radio4"><i></i>Poor</label>
      </div>
<h5>Want to rate with us for customer services?</h5>

    <div class='rating-stars text-center'>
        <ul id='stars'>
          <li class='star' title='Poor' data-value='1'>
            <i class='fa fa-star fa-fw'></i>
          </li>
          <li class='star' title='Fair' data-value='2'>
            <i class='fa fa-star fa-fw'></i>
          </li>
          <li class='star' title='Good' data-value='3'>
            <i class='fa fa-star fa-fw'></i>
          </li>
          <li class='star' title='Excellent' data-value='4'>
            <i class='fa fa-star fa-fw'></i>
          </li>
          <li class='star' title='WOW!!!' data-value='5'>
            <i class='fa fa-star fa-fw'></i>
          </li>
        </ul>
      </div>

<form>
  <h5>Is there anything you would like to tell us?</h5>
    <textarea onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Type here';}" required="">Type here</textarea>
    <input type="submit" value="Send Feedback">
</form>
</div>

</div>
<script src="./js/feedback.js"></script>
</body>
