<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../css/product-information.css">
    <link rel="stylesheet" href="../css/components/latestNew.css">
    <link rel="stylesheet" href="../css/checkOut.css">
    <link rel="stylesheet" href="../css/components/global.css">
    <% include common/head %>
</head>

<body>
    <% include components/fixedHeader %>
    <div class="backgroundProduct">
        <h1 class="page-title">Products</h1>
        <p class="page-path"> Home › Products ›
            <strong>
                Pressed Juicery Fruits 1
            </strong>
        </p>
    </div>

    <div class="piSection">
        <div class="container">
            <div class="row">
                <div class="col-md-5 piCol-wrapper">
                    <div class="piImage-Box">
                        <div class="piBig__Image slider-for">
                            <div><img src="../img/FJ03.jpg" alt="" class="piLarge__Image"></div>
                            <div><img src="../img/FJ02.jpg" alt="" class="piLarge__Image"></div>
                            <div><img src="../img/FJ03.jpg" alt="" class="piLarge__Image"></div>
                        </div>
                        <div class="piSlider__Image slider-nav col-md-12">
                            <div><img src="../img/FJ01.jpg" alt="" class="piSmall__Image"></div>
                            <div><img src="../img/FJ02.jpg" alt="" class="piSmall__Image"></div>
                            <div><img src="../img/FJ03.jpg" alt="" class="piSmall__Image"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-7 piCol-wrapper">
                    <div class="pi__Name">
                        <h1>Pressed Juicery Fruits 1</h1>
                    </div>
                    <div class="pi__Rating">
                        <span>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <a href="">( 1 customer reviews )</a>
                        </span>
                    </div>
                    <p class="pi__stock">9 in stock</p>
                    <p class="pi__price">5.00</p>
                    <a href="#" data-name="Pressed Juicery Fruits 1" data-price="5.00"
                        class="pi__button add-to-cart">ADD TO CART</a>
                    <div class="pi__description--wrapper">
                        <p class="pi__description">Pressed Juicery Fruits 1 features Turmeric, which contains a compound
                            called curcumin which acts as an anti-inflammatory and antioxidant and relieves joint pain
                            and muscle aches. Curcumin also boosts hormones that help protect against degenerative
                            diseases. Add a boost of antioxidants to your morning orange juice with tangy turmeric!
                            Turmeric is great for your digestive and immune systems and is also known for
                            anti-inflammatory properties. Packing a big punch of vitamin C, Pressed Juicery Fruits 1 is
                            a great choice for anyone feeling under the weather. The sweet and tangy taste is also
                            kid-approved! Pressed Juicery Fruits 1 is great for people who love PJ's classic orange
                            juice but want even more nutrition, anyone looking for something to reduce inflammation but
                            don’t like ginger, and those who aren’t feeling well or want to recover from a long weekend.

                            Pressed Juicery juicing facility is located in the heart of California's Central Valley,
                            close to the independent farmers who grow our beautiful, fresh, First Grade produce,
                            minimizing the transportation time from farm to bottle to you.

                            Ingredients: Orange, Turmeric, Apple, and Lemon

                            Cold-Pressed. Perishable, keep refrigerated. Shake away separation. Manufactured in a
                            facility that processes nuts.

                            Founded in 2010, Pressed Juicery was created with one goal in mind, to bring delicious,
                            premium, and nutritious juice to everyone. They did it by doing things that many health and
                            wellness companies often forget: Make it taste great, Make it simple, Make it affordable,
                            Make it for everyone.

                            They started small, juicing every night and selling bottles out of their tiny Brentwood
                            storefront in West LA. Over time they opened a few more shops, bought a truck, and every day
                            helped more people find balance by adding this simple, easy step to their lives.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>





    <% include components/latestNew %>
    <% include components/footer %>
    <% include common/bottom %>
</body>