






.hpCTA {
    margin-top:5%;
}



/* Slick Section */


.pGridSection {
    margin-top: 5%;
}

.product-wrapper {
    padding-left: 0px !important;
    padding-right: 0px !important;
    float: left;
    /* border-right: 1px #eaeaea solid;
    border-bottom: 1px #eaeaea solid */
    border: 1px #eaeaea solid;
    margin:10px;
}

.product-image {
    width: 100%;
}

.product-name {
    font-weight: 500;
    color: #292929;
    padding: 0 15px;
    font-size: 16px;
    overflow: hidden;
    letter-spacing: normal;
    font-family: rubik, sans-serif;
    text-align: center;
    background: #fff;

}

.product-button {
    width:100%;
    display:flex;
    justify-content: center;
}

.product-price {
    font-weight: 500;
    font-size: 14px;
    color: #131e2c;
    text-align: center;
    background: #fff;

}