


.main-header {
    position: relative;
    height: 80px;
    line-height: 40px;
    background-color: #ffffff;
    margin-top:8%;
}





.main-header .container ul li a {
    font-size: 15px;
    text-transform: capitalize;
    color: #86B83F;
    font-weight: 500;
}

.img-home-slider {
    width: 100%;
    height: 600px;
}

.carousel-item .welcome-text {
    position: relative;
}

.carousel-item .welcome-text h6 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    margin-bottom: 30px;
}

.carousel-item .welcome-text h2 {
    font-size: 72px;
    display: block;
    margin-bottom: 30px;
    color: #ffffff;
}

.shopnow {
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
    padding: 0 40px;
    text-align: center;
    text-transform: capitalize;
    background-color: #1cc3b2;
    color: #ffffff;
}

.row-equal .card {
    width: 100%;
    padding: 0 50px;

}

/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active {
    display: flex;
}

/* control image height */
.card-img-top-250 {
    max-height: 250px;
    overflow: hidden;

}

.slider {
    position: relative;
    top: -80px;
    text-align: center;
}

.main-header .lastest-new {
    width: 100%;
}

.main-header .banner {
    width: 85%;
}

.main-header .best-seller {
    margin-top: 100px;

}

.main-header .best-seller .header-best-seller {
    width: 63%;
    height: auto;
    margin: auto;
}

.carousel-inner>.row-icon-best-seller.active {
    display: flex;
}

.row-icon-best-seller .card {
    width: 100%;
}

.star-rating {
    line-height: 20px;
    font-size: 1.25em;
}

.star-rating .fa-star {
    color: yellow;
}





a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px;

}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center;
}








.hpCTA {
    margin-top:30%;
}



/* Slick Section */


.pGridSection {
    margin-top: 5%;
}

.product-wrapper {
    padding-left: 0px !important;
    padding-right: 0px !important;
    float: left;
    /* border-right: 1px #eaeaea solid;
    border-bottom: 1px #eaeaea solid */
    border: 1px #eaeaea solid;
    margin:10px;
}

.product-image {
    width: 100%;
}

.product-name {
    font-weight: 500;
    color: #292929;
    padding: 0 15px;
    font-size: 16px;
    overflow: hidden;
    letter-spacing: normal;
    font-family: rubik, sans-serif;
    text-align: center;
    background: #fff;

}

.product-button {
    width:100%;
    display:flex;
    justify-content: center;
}

.product-price {
    font-weight: 500;
    font-size: 14px;
    color: #131e2c;
    text-align: center;
    background: #fff;

}