
.hpCTA {
    padding-top:5%;
}


.best-seller {
    padding-top: 5%;
}
/* Slick Section */
.best--seller__Header {
    width: 100%;
    font-size: 42px;
    margin: 0 0;
    text-align: center;
    padding-bottom: 40px;
    letter-spacing: .5px;
    font-family: oswald;
    text-transform: uppercase;
    padding-top: 40px;
    background: #fff;
}

.pGridSection {
    margin-top: 5%;
}

.product-wrapper {
    padding-left: 0px !important;
    padding-right: 0px !important;
    float: left;
    border: 1.5px #eaeaea solid;
    position: relative;
    overflow: hidden;
    margin:20px;
    background:white;
}

.product-image {
    width: 100%;

}

.product-name {
    font-weight: 700;
    color: #292929;
    font-size: 16px;
    letter-spacing: normal;
    font-family: rubik, sans-serif;
    text-align: center;
    background: #fff;
}



.product-star {
    color: #80b435;
    text-align: center;
    background: #fff;
}

.product-star .fa-star {
    background: #fff;
}

.product-price {
    font-weight: 500;
    font-size: 14px;
    color: #131e2c;
    text-align: center;
    background: #fff;
}

.product-image--wrapper {
    overflow: hidden;
}


.product-image:hover {
    transform: scale(1.8);
    transition: all .4s ease-out;
}


.addtocartBTN {
    background: #80b435;
    border: 5px #fff solid;
    box-shadow: none;
    color: #fff !important;
    border-radius: 999px;
    width: 60px;
    height: 60px;
    display: inline-block;
    text-align: center;
    position: absolute;
    opacity: 0;
    text-decoration: none !important;
    top: 50%;
    left: 36%;
}

.product-wrapper:hover .addtocartBTN {
    opacity: 1;
}

.addtocartBTN:hover {
    background: #ed6663
}


.addtocartBTN:before {
    content: '+';
    color: #fff;
    font-size: 30px;
    padding: 14px 5px;
    font-weight: 700
}

.slick-track {
    background: white; 
    padding-bottom:30px;
}


@media screen and (max-width: 767px) {
    .addtocartBTN {
        top: 62%;
        left: 41%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px)  {
    .addtocartBTN {
        top: 46%;
        left: 30%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .addtocartBTN {
        top: 55%;
        left: 35%;
    }

}

